---
layout: "../layouts/Layout.astro"
---

<div class="relative h-screen w-full overflow-hidden">
  <img src="/bg.png" alt="Background Image" class="absolute top-0 left-0 w-full h-full object-cover filter blur z-[-1]" />

  <div class="absolute top-0 left-0 w-full h-full bg-black opacity-30 z-[-1]"></div>

  <div class="w-full h-full flex justify-center items-center relative">
    <div class="top-bar absolute top-0 w-full flex justify-between p-5">
      <img src="/info.svg" alt="Info Icon" class="w-6 h-6 absolute top-[15px] left-[15px] cursor-pointer filter invert" />
      <img src="/globe.svg" alt="Language Icon" class="w-6 h-6 absolute top-[15px] right-0 mr-[15px] cursor-pointer filter invert" />
    </div>

    <div class="bg-[#F5F3F5] border-[5px] border-[#DEE3EB] rounded-lg p-8 w-full max-w-lg h-[400px] sm:w-[90%] sm:max-w-none sm:h-auto flex flex-col justify-between" style="min-height:400px;">
      
      <div class="flex-grow flex justify-center items-center">
        <p class="text-center">Flashcard Content Area</p>
      </div>

      <div class="flex justify-between mb-[10px] mx-[10px]">
        <button class="bg-[#F5F3F5] border border-[#000] text-black rounded-[10px] py-2 px-4 w-[calc(50%-10px)]">
          Don't Know
        </button>
        <button class="bg-[#F5F3F5] border border-[#000] text-black rounded-[10px] py-2 px-4 w-[calc(50%-10px)]">
          Know
        </button>
      </div>

    </div>
  </div>
</div>
